// Variables
$gp-white: #fff;
$gp-black: #000;
$gp-orange: #f97231;
$gp-dark: #3c3d3b;
$gp-green: #bad3a5;
$drt-heading-font: "Poppins", sans-serif;
$drt-gold: #e2b65c;

@import "drt/header";
@import "drt/footer";
@import "drt/text-media";
@import "drt/text";
@import "drt/images-text";

@import "../node_modules/bootstrap/dist/css/bootstrap-grid.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $drt-heading-font;
  font-weight: 600;
  line-height: 1.2;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: $drt-heading-font;
}

// Video section
.cms-block-youtube-video,
.cms-block-vimeo-video {
  border-radius: 20px;
}
