// Variables
$gp-white: #fff;
$gp-black: #000;
$gp-orange: #f97231;
$gp-dark: #3c3d3b;
$gp-green: #bad3a5;
$gp-heading-font: "Poppins", sans-serif;
$drt-gold: #e2b65c;

@import "drt/header";
@import "drt/footer";

@import "../node_modules/bootstrap/dist/css/bootstrap-grid.css";
