$drt-brown: #393938;
$drt-white: #ffffff;
$drt-black: #000000;
$drt-orange: #ed6b5a;
$drt-blue: #8ab2c2;
$drt-yellow: #f2db8f;
$drt-heading-font: "Poppins", sans-serif;

// components

@import "components/header";
@import "components/footer";
