.drt {
  &-hero {
    position: relative;
    background-image: url("/drt/border-gold.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 92%;
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (max-width: 991px) {
      background-image: url("/drt/border-gold-mobile.svg");
      padding-top: 24px;
      padding-bottom: 24px;
    }
    .cms-element-image {
      display: flex;
      align-items: center;
      .cms-image-container {
        width: 100%;
      }
      img {
        object-fit: contain;
        object-position: center;
        width: 100%;
      }
    }
    .cms-element-text {
      @media screen and (min-width: 992px) {
        padding-left: 40px;
      }

      h1 {
        font-size: 55px;
        font-weight: 600;
        line-height: 63px;
        @media screen and (max-width: 991px) {
          font-size: 36px;
          line-height: 42px;
        }
        span {
          color: $drt-gold;
        }
      }
      p {
        margin-top: 24px;
        @media screen and (min-width: 991px) {
          padding-left: 40px;
        }
      }
    }
  }
}
