// GP news listing
.gp-news {
	margin-top: 80px;
	margin-bottom: 80px;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;

	&__wrapper {
		position: relative;
		z-index: 2;
	}

	&__ornament {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(50%, 10%);
		opacity: 0;
		visibility: hidden;

		.page--news & {
			opacity: 1;
			visibility: visible;
		}
	}
}

.gp-article {
	border-radius: 16px;
	background: #fff;
	box-shadow: 0px 0px 7.7px 1px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin-bottom: 48px;

	.blog-image {
		border-radius: 16px;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 65%;
		object-fit: cover;
		object-position: center;

	}

	.card-body {
		padding: 25px;
	}

	// content
	.blog-title {
		margin-bottom: 8px;

		a {
			color: #000;
			font-size: 25px;
			font-weight: 600;
			line-height: 120%;
			letter-spacing: -0.75px;
			margin-bottom: 8px;
			text-decoration: none;
		}
	}

	.card-text {
		color: #acabab;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		letter-spacing: -0.6px;
	}

	.blog-date {
		display: none !important;
	}

	.card-footer {
		display: none;
	}

	&__link {
		display: inline-block;
		text-decoration: none;
		color: #fff;
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: 100.636%;
		letter-spacing: -0.45px;
		text-transform: uppercase;
		padding: 8px 15px;
		background-color: #f97231;
		border-radius: 45px;
		box-shadow: 0px 0px 7.7px 1px rgba(0, 0, 0, 0.1);
		margin-top: 8px;
	}
}